##########################
# Project-specific files #
##########################
# Dirs
data/
output/
testdata/*.txt
test/*
!test/Makefile

# Cython
fourier.c
cython/tsfourier.[c,h]

# Executables
powerspec


#############
# Generic C #
#############
# Object files
*.o

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.x
*.out


#########################
# Generic Python/Cython #
#########################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
env/
build/
